<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/enroll.css" media="all"/>
</head>
<body class="childrenBody">
<div class="subject">
    <div class="home_access">
        <div class="home_bd"><div class="title" id="title">劳模报名</div></div>
    </div>
    <ul class="currency">
        <li class="enroll_li">
            <div class="enroll_li_d" id="forecastName">
                <div class="highlight">
                    <img src="../../img/alarm.png" alt="">
                    <p id="alarm">劳模预报名</p>
                </div>
            </div>
        </li>
        <li class="enroll_li">
            <div class="enroll_li_d" id="formalRegistration">
                <div class="highlight">
                    <img src="../../img/edit.png" alt="">
                    <p id="formal">劳模正式报名</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../../libs/layui/layui.js"></script>
<script type="text/javascript" src="../../js/signUp/enroll.js"></script>
</body>
</html>