<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>预报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/public.css" media="all"/>
    <link rel="stylesheet" href="../../css/forecastName.css" media="all"/>
</head>
<body class="childrenBody">
    <#if userType??>
    <input type="hidden" id="userType" value="${userType}">
    </#if>
    <#if preId??>
    <input type="hidden" id="preId" value="${preId}">
    </#if>
<div class="subject">
    <h1 id="myPreLineName"></h1>
    <div class="layui-form-item">
        <p>预报名说明：</p>
        <p id="myDescribetion"></p>

    </div>
    <input type="text" name="place" lay-filter="place" placeholder="选择报名地点" id="treeselecttest" autocomplete="off" class="layui-input place">
    <div class="item_btn">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-type="addRow">添加</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" data-type="del">删除</button>
    </div>
    <div id="tableRes" class="table-overlay">
        <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
    </div>
    <div class="layui-form-item text-center">
        <button type="button" class="layui-btn layui-btn-normal" data-type="save">提交</button>
    </div>
</div>

<script type="text/javascript" src="../../libs/layui/layui.js"></script>
<script type="text/javascript" src="../../js/signUp/forecastName.js"></script>
</body>
</html>