<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/bjzgh/css/common.css" media="all"/>
</head>
<body>
<!--路径导航-->
<div class="common">
	<span class="layui-breadcrumb">
		<a href="javascript:;">当前位置</a>
		<span lay-separator="">：</span>
		<a href="javascript:;">网站信息管理</a>
        <span lay-separator="">/</span>
        <a class="pointer" href="javascript:;">关于我们</a>
	</span>
</div>
<!--内容主体-->
<div class="main-content">
    <!--表格-->
    <table class="layui-table" lay-filter="test" id="table"></table>
    <div id="page"></div>
</div>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/bjzgh/pages/website/profile.js"></script>
</body>
<!--预览页面-->
<div id="preContent" style="display: none">
    <div class="newsContent" id="content">

    </div>
</div>
</html>