.subject{width: 1200px;margin: 0 auto;}
.search{width: 100%;background-color: #fff;margin-bottom: 20px;}
.search .search_t{height: 94px;width: 580px;margin: 0 auto;    padding: 25px 0;box-sizing: border-box;}
.search_t .layui-form-item{position: relative;}
.search_t .layui-form-item .layui-input{width: 460px;display: inline-block;padding-left: 30px;height: 42px;
    line-height: 42px;border-radius: 0;}
.search_t .layui-form-item .layui-icon{position: absolute;top: 14px;left: 8px;}
.search_t .layui-form-item .layui-btn{width: 120px;height: 42px;line-height: 42px;background-color: #005CA7;
    position: absolute;top: 0;right: 0;border-radius: 0;}

.search .place{height: 264px;padding: 20px;box-sizing: border-box;}
.place .layui-form-label{font-size: 18px;padding: 9px 0;width: 60px;}
.place .layui-input-block{margin-left: 60px;}
.provinceList{width: 100%;font-size: 0;}
.provinceList .provinceLi,.provinceList .cityLi{min-width: 72px;height: 38px;line-height: 28px;text-align: center;color: #94999e;padding: 5px;
    box-sizing: border-box;display: inline-block;font-size: 14px;}
.provinceList .provinceLi .text,.provinceList .cityLi .text{width: 100%;height: 100%;display: inline-block;cursor: pointer;padding: 0 5px;
    box-sizing: border-box;}
.provinceList .provinceLi .active,.provinceList .cityLi .active{background-color: #005ca7;color: #fff;}


.search .count{display: flex;align-items: center;height: 40px;border-top: 1px solid #f2f2f2;padding: 0 20px;box-sizing: border-box;}
.search .count span{color: #005CA7;}



.routeList .route_li{margin-bottom: 20px;}
