.childrenBody{width: 100%;background-color: #fff;}
.companyTitle{padding: 10px;box-sizing: border-box;border-bottom: 1px solid #f2f2f2;}
.companyTitle h2{display: inline-block;font-weight: 600;font-size: 18px;}
.companyTitle .layui-btn{float: right;height: 26px;line-height: 26px;}
.subject{padding: 40px 40px;box-sizing: border-box;}
.currency{width: 460px;margin: 0 auto;}
.lowerInstall{width: 596px;}
.notPass{width: 100%;box-sizing: border-box;padding-left: 66px;color: #F74F4A;line-height: 20px;margin-bottom: 10px;display: none;}
/*layui-form*/
.layui-form{position: relative;}
.examineType{width:65px;height:58px;position: absolute;top: 0;right: 0;}
.layui-form-item{margin-bottom: 20px;position: relative;}
.layui-form-item .layui-form-label{width: 126px;padding: 6px 10px;}
.layui-form-mid{padding: 6px 0!important;}
.layui-form-item .layui-input-block{margin-left: 146px;}
.layui-form-item .layui-input-block .layui-input{height: 32px;line-height: 32px;}
.layui-form-item .layui-input-inline{width: 99px;margin-right: 8px;}
.layui-form-item .disease{float: right;}
.layui-form-item .layui-input-inline:last-child{margin-right: 0;}
.layui-form-select dl dd.layui-this{background-color: #005CA7;}
.layui-form-radio{margin: 2px 0 0;}
.layui-form-radio>i:hover, .layui-form-radioed>i{color: #005CA7;}
.layui-form-checked[lay-skin=primary] i{background-color: #005CA7;border-color: #005CA7 !important;}
.layui-form-checkbox[lay-skin=primary]:hover i{border-color: #005CA7;}
.layui-laydate-footer span:hover{color: #005CA7 !important;}
.layui-form-item .layui-transfer-active .layui-btn{width: 30px;height: 30px;float: inherit;line-height:inherit;margin-top:0;
    padding: 0 7px;border-radius: 50%;}
.layui-tree-entry:hover{background-color: #fff;}
.layui-tree-pack{padding-left: 30px;}
.layui-transfer-active .layui-btn,.layui-transfer-active .layui-btn:hover{background-color: #005CA7;border-color: #005CA7;color: #fff;}
.layui-transfer-active .layui-btn-disabled,.layui-transfer-active .layui-btn-disabled:hover{background-color: #FBFBFB;border-color: #e6e6e6;color: #C9C9C9;}
/*上传图片*/
.prove{width: 150px;height: 100px;display: inline-block;border: 1px solid #D8D8D8;}
.prove img{max-width: 150px;max-height: 100px;box-sizing: border-box;padding: 2px;}
.pictures{width: 96px;height: 102px;display: inline-block;border: 1px dashed #D9D9D9;border-radius: 4px;vertical-align: bottom;cursor: pointer;}
.pictures img{max-width: 96px;max-height: 102px;}
.pictures .upload{background-color: #FBFBFB;text-align: center;padding: 20px 0;width: 100%;height: 100%;color: #005CA7;box-sizing: border-box;}
.pictures .upload .layui-icon{font-size: 28px;}
.pictures .upload p{font-size: 12px;margin-top: 5px;}
.notes{font-size: 12px;color: #b8b8b8;}
.batchPictures{width: 313px;height: 173px;margin-top: 10px;}
.batchPictures .upload{padding: 40px 0;}
.batchPictures .upload .layui-icon{font-size: 50px;}
.batchPictures .fileName{line-height: 173px;text-align: center;color: #b8b8b8;}
.batchPictures .fileName .layui-icon{color: #005CA7;}
/*layui-btn*/
.layui-form-item .layui-btn{width: 400px;height: 42px;line-height: 42px;margin-top: 20px;float: right;}
.formBtn{text-align: right;}
.formBtn .layui-btn{width: 180px;margin-left: 38px;float: inherit;}
.blockBtn .layui-btn{float: inherit;}
.layui-btn-normal{background-color: #005CA7;}
.layui-btn-primary{border-color: #005CA7;color: #005CA7;}
.layui-btn-primary:hover {border-color: #005CA7;color: #005CA7;}
.layui-btn-xs.layui-btn-primary{border:none;}
.primaryBtn{color: #005CA7;cursor: pointer;padding: 6px 0;display: inline-block;}
/*错误提示*/
.errorPrompt{color: #f8726e;font-size: 12px;line-height: 24px;padding: 0 10px;box-sizing: border-box;position: absolute;
    top: 10px;left: 460px;width: 230px;}
.errorPrompt .error_icon{display: inline-block;width: 14px;height: 14px;margin-right: 5px;
    vertical-align: text-bottom;background: url("../img/error.png")no-repeat 0 0;background-size: cover;}
.prompt{position: absolute;top: 7px;left: 465px;width: 200px;font-size: 12px;color: #b8b8b8;}
.batchPrompt{font-size: 12px;color: #b8b8b8;}
/*弹框*/
.layui-layer{border-radius: 6px !important;}
.layui-layer-title{height: 30px !important;line-height: 30px !important;background-color: #fff !important;
    border-bottom: 0 !important;border-radius: 6px 6px 0 0 !important;}
.layui-layer-setwin{top: 10px !important;}
.registered_div{padding: 20px 40px;box-sizing: border-box;}
.registered_div .registered_div_t{display: flex;align-items: center;color: #000;font-size: 14px;font-weight: 600;}
.registered_div .registered_div_t span{display: inline-block;width: 24px;height: 24px;margin-right: 10px;vertical-align: text-bottom;}
.registered_div .registered_div_t .caution_icon{background: url("../img/caution.png")no-repeat 0 0;background-size: cover;}
.registered_div .registered_div_t .success_icon{background: url("../img/success.png")no-repeat 0 0;background-size: cover;}
.registered_div .registered_div_c{padding-left: 35px;box-sizing: border-box;font-size: 1px;color: #000;line-height: 30px;}
.registered_div .registered_div_b{text-align: right;margin-top: 12px;}
.registered_div .registered_div_b .layui-btn{width: 65px;height: 32px;line-height: 32px;padding: 0;}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {width: 6px;height: 8px;background-color: #C2C2C2;}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f9f9f9;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f1f1f1;
}