<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/leader/css/common.css" media="all"/>
</head>
<body>
<!--路径导航-->
<div class="common">
	<span class="layui-breadcrumb">
		<a href="javascript:;">当前位置</a>
		<span lay-separator="">：</span>
        <a class="pointer" href="javascript:">个人资料</a>
	</span>
</div>
<!--内容主体-->
<div class="main-content">
    <form class="layui-form fullForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">账号（手机号）：</label>

            <div class="layui-input-block">
                <span id="username"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>

            <div class="layui-input-block">
                <span id="name"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>

            <div class="layui-input-block">
                <span id="sex"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄：</label>

            <div class="layui-input-block">
                <span id="age"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号：</label>

            <div class="layui-input-block">
                <span id="IDCard"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">导游证（选填）：</label>

            <div class="layui-input-block">
                <span id="guideNum"></span>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/leader/js/personalDetail.js"></script>
</body>
</html>