<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/leader/css/common.css" media="all"/>
</head>
<body>
<!--路径导航-->
<div class="common">
	<span class="layui-breadcrumb">
		<a href="javascript:;">当前位置</a>
		<span lay-separator="">：</span>
        <a class="pointer" href="javascript:">疗养团管理</a>
	</span>
</div>
<!--内容主体-->
<div class="layui-tab layui-tab-brief" lay-filter="tabChange">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">劳模职工</li>
        <li lay-id="2">优秀职工</li>
        <li lay-id="3">普通职工</li>
    </ul>

    <div class="layui-tab-content">
        <input type="hidden" id="pagedata" value="${pagedata}"/>
        <!--劳模职工-->
        <div class="layui-tab-item layui-show">
            <div class="main-content">
                <!--表单查询-->
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">线路名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="lmlinename" name="name" class="layui-input" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">出团状态：</label>

                            <div class="layui-input-inline">
                                <select name="company1" id="lmlinestatus">
                                    <option value="0">全部</option>
                                    <option value="3">待出团</option>
                                    <option value="4">出团中</option>
                                    <option value="6">待结算</option>
                                    <option value="7">已结束</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">疗养日期：</label>

                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="start" id="lmstarttime" autocomplete="off" class="layui-input laydate" readonly>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="end" id="lmendtime" autocomplete="off" class="layui-input laydate" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item formSearchBtn">
                        <button class="layui-btn clickBtn btn-65" id="lmsubmitData">查询</button>
                        <button class="layui-btn layui-btn-primary btn-65" type="reset">重置</button>
                    </div>
                </form>
                <!--表格-->
                <table class="layui-table" lay-filter="test" id="table"></table>
                <div id="page"></div>
            </div>
        </div>
        <!--优秀职工-->
        <div class="layui-tab-item">
            <div class="main-content">
                <!--表单查询-->
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">线路名称：</label>

                            <div class="layui-input-inline">
                                <input type="text" name="name"  id="yxlinename" class="layui-input" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">出团状态：</label>

                            <div class="layui-input-inline">
                                <select name="company1" id="yxlinestatus">
                                    <option value="0">全部</option>
                                    <option value="3">待出团</option>
                                    <option value="4">出团中</option>
                                    <option value="6">待结算</option>
                                    <option value="7">已结束</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">疗养日期：</label>

                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="start" id="yxstarttime" autocomplete="off" class="layui-input laydate" readonly>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="end" id="yxendtime" autocomplete="off" class="layui-input laydate" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item formSearchBtn">
                        <button class="layui-btn clickBtn btn-65" id="yxsubmitData">查询</button>
                        <button class="layui-btn layui-btn-primary btn-65" type="reset">重置</button>
                    </div>
                </form>
                <!--表格-->
                <table class="layui-table" lay-filter="test" id="fineTable"></table>
                <div id="finePage"></div>
            </div>
        </div>
        <!--普通职工-->
        <div class="layui-tab-item">
            <div class="main-content">
                <!--表单查询-->
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">线路名称：</label>

                            <div class="layui-input-inline">
                                <input type="text" name="name" id="ptlinename" class="layui-input" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">出团状态：</label>

                            <div class="layui-input-inline">
                                <select name="company1" id="ptlinestatus">
                                    <option value="0">全部</option>
                                    <option value="3">待出团</option>
                                    <option value="4">出团中</option>
                                    <option value="6">待结算</option>
                                    <option value="7">已结束</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label longger-label">疗养日期：</label>

                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="start" id="ptstarttime" autocomplete="off" class="layui-input laydate" readonly>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="end" id="ptendtime" autocomplete="off" class="layui-input laydate" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item formSearchBtn">
                        <button class="layui-btn clickBtn btn-65"  id="ptsubmitData">查询</button>
                        <button class="layui-btn layui-btn-primary btn-65" type="reset">重置</button>
                    </div>
                </form>
                <!--表格-->
                <table class="layui-table" lay-filter="test" id="generalTable"></table>
                <div id="generalPage"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/leader/js/vestHome.js"></script>
</body>
</html>