<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/register.css" media="all" />
    <link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<div class="subject">
    <div class="currency">
        <form class="layui-form" action="" lay-filter="modifyPassword">
            <div class="layui-form-item">
                <label class="layui-form-label">企业名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="enterprise" class="layui-input" placeholder="请按照营业执照填写" autocomplete="off" lay-verify="required|illegalChar" maxlength="50">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>企业名称错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="account" class="layui-input" placeholder="请输入账户名/登录名" autocomplete="off" lay-verify="required|illegalChar|account" maxlength="20">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>账号名称错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设置密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="newPassword" class="layui-input" placeholder="请输入密码建议使用两种或两种以上字符组合" autocomplete="off" lay-verify="required" minlength="6" maxlength="20">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>密码错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="confirmPassword" class="layui-input" placeholder="请再次输入密码" autocomplete="off" lay-verify="required" lay-verify="required" minlength="6" maxlength="20">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>确认密码错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addNews">注 册</button>
            </div>
        </form>
    </div>
</div>

<!--弹框-->
<div id="registered" style="display: none;">
    <div class="registered_div">
        <div class="registered_div_t"><span class="caution_icon"></span>xxx已注册了</div>
        <div class="registered_div_c">xxx已经注册了账号，可直接用于登录</div>
        <div class="registered_div_b">
            <button class="layui-btn layui-btn-primary" id="cancel">取 消</button>
            <button class="layui-btn" id="define">确 定</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/register/register.js"></script>
<script type="text/javascript" src="js/md5.js"></script>
</body>
</html>