<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>下属企业管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>
    <link rel="stylesheet" href="/css/queryList.css" media="all"/>
    <style>
        .unavailable {
            pointer-events: none;
            cursor: default;
            color: #999 !important;
            background-color: #fff !important;
        }
    </style>
</head>
<body class="childrenBody">
<div class="subject">
    <ul class="layui-nav" lay-filter="role" id="navTab">
        <li class="layui-nav-item"><a href="javascript:;" data-id="1">企业信息审核</a></li>
        <li class="layui-nav-item"><a href="javascript:;" data-id="2">企业管理</a></li>
    </ul>
    <form class="layui-form" action="" lay-filter="queryForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">企业名称：</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系人：</label>
                <div class="layui-input-inline">
                    <input type="text" name="contacts" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline" id="examineStatusDiv" style="display:none;">
                <label class="layui-form-label">审核状态：</label>
                <div class="layui-input-inline">
                    <select name="examineStatus">
                        <option value="">请选择</option>
                        <option value="1">未审核</option>
                        <option value="2">审核中</option>
                        <option value="3">审核已通过</option>
                        <option value="4">审核未通过</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="addNews">查找</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </form>
    <div class="layui-form-item" style="display: none;" id="operation">
        <button class="layui-btn layui-btn-normal" id="del" style="width: 148px;">劳模权限批量处理</button>
    </div>
    <div class="currency">
        <table id="table" lay-filter="dataTable" class="layui-hide"></table>
        <div id="page" class="page"></div>
    </div>
</div>
<!--弹框-->
<!--审核状态-->
<div id="registered" style="display: none;">
    <div class="registered_div">
        <ul class="layui-timeline" id="examineInfo">
        </ul>
    </div>
</div>
<!--资质证明-->
<div id="prove"  style="display: none;">
    <div class="registered_div examine">
        <img class="proveImg" src="" alt="">
    </div>
</div>
<!--通过-->
<div id="adopt" style="display: none;">
    <div class="registered_div examine">
        <div class="registered_div_t"><span class="caution_icon"></span>操作提示</div>
        <div class="registered_div_c">确认要通过审核吗？</div>
        <div class="registered_div_b">
            <button type="button" class="layui-btn layui-btn-primary cancel">取 消</button>
            <button type="button" class="layui-btn layui-btn-normal" id="define">确 定</button>
        </div>
    </div>
</div>
<!--不通过-->
<div id="failed" style="display: none;">
    <div class="registered_div examine">
        <form class="layui-form" action="" lay-filter="failedForm">
            <div class="layui-form-item">
                <div class="layui-form-mid">不通过原因：</div>
                <div class="layui-input-block">
                    <textarea placeholder="请填写不通过原因" class="layui-textarea" name="message"></textarea>
                </div>
            </div>
            <div class="layui-form-item registered_div_b">
                <button type="button" class="layui-btn layui-btn-primary cancel">取 消</button>
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="failed">提 交</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/personal/enterprises.js"></script>
<script>
    var switchType = "${switchType ! ''}";
</script>
</body>
</html>
