<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>企业资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/personal.css" media="all"/>
</head>
<body class="childrenBody">
<div class="subject">
    <div class="currency">
        <form class="layui-form" lay-filter="material">
            <div class="layui-form-item">
                <label class="layui-form-label">企业名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" class="layui-input" value="${enterprise.name ! ''}" placeholder="请按照营业执照填写" autocomplete="off" lay-verify="required|illegalChar" maxlength="50">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>企业名称已存在！</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">企业账号：</label>
                <div class="layui-input-block">
                    <input type="text" name="account" value="${enterprise.account ! ''}" class="layui-input" placeholder="请输入企业账号" autocomplete="off" lay-verify="required|illegalChar|account" maxlength="20">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>企业账号错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">社会统一信用代码：</label>
                <div class="layui-input-block">
                    <input type="text" name="creditCode" value="${enterprise.creditCode ! ''}" class="layui-input" placeholder="请输入" autocomplete="off" lay-verify="socialCreditCode" maxlength="50">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>社会统一信用代码错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所在区域：</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <select name="province" lay-search lay-filter="province" lay-verify="required">
                            <option value="">请选择省</option>
                            <#list areas! as item>
                                <option value="${item.id}" >${item.regionName}</option>
                            </#list>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="city" lay-search lay-filter="city" lay-verify="required">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="area" lay-search lay-verify="required">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人姓名：</label>
                <div class="layui-input-block">
                    <input type="text" name="contacts" value="${enterprise.contacts ! ''}" class="layui-input" placeholder="请输入" autocomplete="off" lay-verify="required|illegalChar|contacts" maxlength="20">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>确认密码错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人电话：</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" value="${enterprise.phone ! ''}" class="layui-input" placeholder="请输入" autocomplete="off" lay-verify="required|phone">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>确认密码错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" name="mail" value="${enterprise.mail ! ''}" class="layui-input" placeholder="请输入" autocomplete="off" lay-verify="required|email">
                </div>
                <!--错误提示-->
                <!--<div class="errorPrompt"><span class="error_icon"></span><span>确认密码错误</span></div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">资质证明：</label>
                <div class="layui-input-block">
                    <div class="pictures" id="preview">
                        <#if enterprise.qaUrl?exists >
                        <img src="${enterprise.qaUrl ! ''}" alt="">
                        <#else>
                        <div class="upload">
                            <i class="layui-icon">&#xe654;</i>
                            <p>上传图片</p>
                        </div>
                        </#if>
                    </div>
                    <span class="notes">注：图片小于200KB,尺寸1024*768</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">直属上级：</label>
                <div class="layui-input-block">
                    <select name="pid" lay-verify="required">
                        <option value=""></option>
                        <#list enterpriseList! as item>
                            <option value="${item.id}" >${item.name}</option>
                        </#list>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addNews">提交审核</button>
            </div>
        </form>
    </div>
</div>
<!--弹框-->
<div id="registered" style="display: none;">
    <div class="registered_div">
        <div class="registered_div_t"><span class="caution_icon"></span>提示</div>
        <div class="registered_div_c" id="text">请仔细检查并确认资料无误！</div>
        <div class="registered_div_b">
            <button class="layui-btn layui-btn-primary" id="cancel">再检查下</button>

            <button class="layui-btn layui-btn-normal" id="define">确认提交</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/utils/socialCreditCode.js"></script>
<script type="text/javascript" src="/js/personal/information.js"></script>
<script type="application/javascript">
    var provinceId = "${enterprise.areaIdP ! ''}";
    var cityId = "${enterprise.areaIdC ! ''}";
    var areaId = "${enterprise.areaIdA ! ''}";
    var pid = "${enterprise.pid ! ''}";
    var imageUrl = "${enterprise.qaUrl ! ''}";
    var id = "${enterprise.id}";
</script>
</body>
</html>
