<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>正式报名统计/查看详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>
    <link rel="stylesheet" href="/css/queryList.css" media="all"/>
</head>
<body class="childrenBody">
<div class="subject">
    <form class="layui-form" action="" lay-filter="queryForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">企业名称：</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterpriseName" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="addNews">查找</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </form>
    <div class="currency">
        <table id="table" lay-filter="dataTable" class="layui-hide"></table>
        <div id="page" class="page"></div>
    </div>
</div>
<!--弹框-->
<!--报名人员列表-->
<div id="people"  style="display: none;">
    <div class="tableList">
        <table id="table1" class="layui-hide"></table>
        <div id="page1" class="page"></div>
    </div>
</div>
<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/personal/statisticsDetails.js"></script>
<script>
    var id = "${id}"
    var enterpriseId = "${enterpriseId}"
</script>
</body>
</html>
